<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
               <rule name="Application Administration" stopProcessing="true">
                    <match url="^(.*)$" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{SCRIPT_NAME}" pattern="^/(.*(CFIDE|cfide|CFFormGateway|jrunscripts|railo-context|fckeditor)).*$" ignoreCase="false" />
                    </conditions>
                    <action type="None" />
                </rule>
                <rule name="Flash and Flex Communication" stopProcessing="true">
                    <match url="^(.*)$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{SCRIPT_NAME}" pattern="^/(.*(flashservices|flex2gateway|flex-remoting)).*$" ignoreCase="false" />
                    </conditions>
                    <action type="Rewrite" url="index.cfm/{PATH_INFO}" appendQueryString="true" />
                </rule>
                <rule name="Static Files" stopProcessing="true">
                    <match url="^(.*)$" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{SCRIPT_NAME}" pattern="\.(bmp|gif|jpe?g|png|css|js|txt|pdf|doc|xls|ico|map|copyright)$" ignoreCase="false" />
                    </conditions>
                    <action type="None" />
                </rule>
                <rule name="Insert index.cfm" enabled="true" stopProcessing="true">
                    <match url="^(.*)$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.cfm/{PATH_INFO}" appendQueryString="true" />
                </rule>
            </rules>
        </rewrite>
        <handlers>
            <remove name="coldfusion" />
        </handlers>
        <directoryBrowse enabled="false" />
        <defaultDocument>
            <files>
                <clear />
                <add value="index.cfm" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="iisstart.htm" />
                <add value="default.aspx" />
                <add value="index.php" />
            </files>
        </defaultDocument>
               <httpProtocol>
	    	<customHeaders>
	    		<add name="Access-Control-Allow-Origin" value="http://tiameid.local" />
				<add name="Access-Control-Allow-Methods" value="DELETE,PUT,POST,GET,OPTIONS,HEAD" />
				<!--
                    # X-Frame-Options
                    The X-Frame-Options header indicates whether a browser should be allowed
                    to render a page within a frame or iframe.
                    The valid options are DENY (deny allowing the page to exist in a frame)
                    or SAMEORIGIN (allow framing but only from the originating host)
                    Without this option set the site is at a higher risk of click-jacking.
				-->
                    <add name="X-Frame-Options" value="SAMEORIGIN" />


                <!--
                    Referrer-Policy
                    Browsers automatically add the Referer header, when a user click a link on your site.
                     This means that a linked website, will be able to see where the users are coming from. While this is a great feature for Analytics, 
                     you may have sensitive information in your URLs, which you don't want to forward to other domains
				 -->
                 <add name="Referrer-Policy" value="same-origin" />

				<!--
					# MIME type sniffing security protection
					Enabled by default as there are very few edge cases where you wouldn't want this enabled.
					Theres additional reading below; but the tldr, it reduces the ability of the browser (mostly IE)
					being tricked into facilitating driveby attacks.
					http://msdn.microsoft.com/en-us/library/ie/gg622941(v=vs.85).aspx
					http://blogs.msdn.com/b/ie/archive/2008/07/02/ie8-security-part-v-comprehensive-protection.aspx
				-->
				<add name="X-Content-Type-Options" value="nosniff" />

                 <!--
                    # Strict-Transport-Security
                    The HTTP Strict Transport Security header is used to control
                    if the browser is allowed to only access a site over a secure connection
                    and how long to remember the server response for, forcing continued usage.
                    Note* Currently a draft standard which only Firefox and Chrome support. But is supported by sites like PayPal.
                    <add name="Strict-Transport-Security" value="max-age=15768000"/>
                    Strict-Transport-Security: max-age=31536000; includeSubDomains; preload
                    -->
                  <add name="Strict-Transport-Security" value="max-age=15768000; includeSubDomains; preload" />

				<!-- A little extra security (by obscurity), removings fun but adding your own is better -->
				<remove name="X-Powered-By" />
				<add name="X-Powered-By" value="Two Monkeys on a Wheel" />	

				<!--
                    Force the latest IE version, in various cases when it may fall back to IE7 mode
                    github.com/rails/rails/commit/123eb25#commitcomment-118920
                    Use ChromeFrame if it's installed for a better experience for the poor IE folk
                    -->
				<add name="X-UA-Compatible" value="IE=Edge,chrome=1" />	

                 <!--
                    # X-XSS-Protection
                    The X-XSS-Protection header is used by Internet Explorer version 8+
                    The header instructs IE to enable its inbuilt anti-cross-site scripting filter.
                    If enabled, without 'mode=block', there is an increased risk that
                    otherwise non-exploitable cross-site scripting vulnerabilities may potentially become exploitable

                    <add name="X-XSS-Protection" value="1; mode=block"/>
                    -->
		          
                  <add name="X-XSS-Protection" value="1; mode=block" />
					
	    	</customHeaders>
	   	</httpProtocol>
    </system.webServer>
    
</configuration>